body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 10px;                 
    min-height: 100vh;  
}

.list img {
    width: 120px;
    height: auto;
    border-radius: 6px;
}

.list {
    transform-style: preserve-3d;
    transform: perspective(1200px);
}

.list .item {
    transition: .45s;
    filter: brightness(0);
}

.list .item:hover {
    transform: translateZ(220px);
    filter: brightness(1);
}

.list .item:hover + * {
    transform: translateZ(160px) rotateY(40deg);
    filter: brightness(0.6);
    filter: sepia(0.75);
}

.list .item:hover + * + * {
    transform: translateZ(100px) rotateY(20deg);
    filter: brightness(0.4);
    filter: sepia(0.9);
}

.list .item:hover + * + * + * {
    transform: translateZ(40px) rotateY(10deg);
    filter: brightness(0.2);
    filter: sepia(1.1);
}

.list .item:has(+ *:hover) {
    transform: translateZ(160px) rotateY(-40deg);
    filter: brightness(0.6);
    filter: sepia(0.75);
}

.list .item:has(+ * + *:hover) {
    transform: translateZ(100px) rotateY(-20deg);
    filter: brightness(0.4);
    filter: sepia(0.9);
}

.list .item:has(+ * + * + *:hover) {
    transform: translateZ(40px) rotateY(-10deg);
    filter: brightness(0.2);
    filter: sepia(1.1);
}